<div class="propoganda-featured-post">
    {{#get "posts" limit="1" order="published_at desc" filter="featured:true"}}
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    {{/get}}
</div>