<div class="banner-img site-nav-logo">
    <img id="propoganda__img" src="/assets/images/socialism_over_barbarism.jpg" alt="Socialism over Barbarism; Charleston DSA" />
</div>

<script>
    document.getElementById('propoganda__text').innerText = window.propogandaText;
    var propImg = document.getElementById('propoganda__img');
    propImg['src'] = window.propogandaImgSrc;
    propImg['alt'] = window.propogandaImgAlt;

</script>