<div class="propoganda">
    <p>
        The Democratic Socialists of America is the largest socialist organization in the United States. We organize nationally and
        here in Charleston to fight for a more fair, democratic world: one based on principles of economic, gender, and racial
        justice.
    </p>
</div>